
<font color='green'>
    
</font></font>

___

# References and tutorials

* [10 minutes to pandas][1]
* [Panda getting started tutorials][2]
* [The official CommonMark spec][3]


[1]: https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html
[2]: https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html#min-tut-01-tableoriented
[3]: https://spec.commonmark.org/0.29/https://spec.commonmark.org/0.29/

**Use Pandas library that makes data analysis easier**

In [57]:
import pandas as pd
import numpy as np

# Data Structure (Series and Dataframes)

## Series
`pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)`

One-dimensional ndarray with axis labels (including time series)

#### Create Series from array

In [58]:
array = [1, 3, 44, np.nan, 33, 1002]
series = pd.Series(array)
print(series)

0       1.0
1       3.0
2      44.0
3       NaN
4      33.0
5    1002.0
dtype: float64

#### Create Series from Dictionary

In [59]:
dictionary = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data = dictionary, index = ['a', 'b', 'c'])
print(ser)

a    1
b    2
c    3
dtype: int64

### Dataframe

`DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)`

<font color='green'>
Dataframe is simple table, columns and rows
</font></font>

#### Create Dataframe from array of arrays [[],[],...]

In [60]:
# Define table dimension 6X4
numberOfRows = 6
numberOfColumns = 4

# Columns lable
columnLables = ["Col1", "Col2", "Col3", "Col4"]

#Data Indexs
dates = pd.date_range("20210101", periods = numberOfRows)

# fill rows with some 2 dimentionals random data
randomData = np.random.randn(numberOfRows, numberOfColumns)

# Create DataFrame
dataformate = pd.DataFrame(randomData, index=dates, columns=columnLables)
dataformate

                Col1      Col2      Col3      Col4
2021-01-01 -0.376980 -0.260961 -1.529686  1.721595
2021-01-02 -1.149809 -0.980029 -0.804027 -1.982300
2021-01-03  1.330053  0.576044  0.667923 -0.441533
2021-01-04 -0.665715  0.022698 -0.000572  1.684403
2021-01-05  1.138586 -2.538774 -0.444497 -1.201088
2021-01-06  0.312949 -0.905203 -1.497699 -0.236796

#### Create Dataframe from Dictionary

In [61]:
# create data
dictionary = {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
            }

dataformate = pd.DataFrame(dictionary)
dataformate

TypeError: 'list' object is not callable

### Create DataFrame by passing a dictionary